.swatch {
  width: 150px;
  height: 150px;
  margin: 20px;
  margin-top: 50px;
}

.swatch .colorBlock {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.swatch h2 {
  margin-top: 10px;
  color: white;
  text-align: center;
}
