/* From Codepen */
.box:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes moving-gradient {
  0% {
    background-position: 0 0;
    filter: opacity 0.5;
  }
  50% {
    background-position: 400% 0;
    opacity: 1;
  }
  100% {
    background-position: 0 0;
    opacity: 0.5;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container,
.box h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.box h1 {
  width: 100%;
  top: 45% !important;
}

.box {
  border: none;
  outline: none;
  color: #fff;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

.box:before {
  content: '';
  background: linear-gradient(
    135deg,
    #fd1d1d,
    #d62976,
    #fa7e1e,
    #feda75,
    #48ff00,
    #00ffd5,
    #4f5bd5,
    #7a00ff,
    #962fbf,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(20px);
  width: 102%;
  height: 102%;
  animation: moving-gradient 30s linear infinite;
  border-radius: 10px;
}
/* PW Site Styles */
textarea {
  width: 300px;
  font-family: helvetica;
  font-size: 24px;
  height: auto;
  display: block;
  border-radius: 20px;
  width: calc(100% - 40px);
  border: 0;
  resize: none;
  padding: 20px;
}
