html {
  background: linear-gradient(
    to right top,
    #e19bd1,
    #b2afed,
    #87bfeb,
    #82c8d6,
    #9bcbbf
  );
  min-height: 100vh;
  height: auto;
}

html,
body {
  margin: 0;
  padding: 0;
}

a:focus,
button:focus,
input:focus,
textarea:focus *:focus {
  outline: none !important;
}
